<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CayCV</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>

   <body>
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a class="navbar-brand" href="{% url 'accounts:index' %}">CayCV</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'accounts:logout-user' %}">Çıkış yap</a></li>
            <li><a href="{% url 'info-cv' %}">Bilgilerim</a></li>
          {% else %}
          <li><a class="navbar-link" href="{% url 'accounts:sign-up' %}">Kaydol</a></li>
            <li><a class="navbar-link" href="{% url 'accounts:login-user' %}">Giriş</a></li>
          {% endif %}
</ul>
      </div>
    </nav>
    <div class="container">
    {% block content%}
    {% endblock %}
    </div>
  </body>
</html>
