{% extends "accounts/base.html" %}
{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Bi çay içimi hızında CV</h1>
    <p>
      CV'ye mi ihtiyacın var. Sen çayını içerken biz CV'ni hazırlayalım!<br />
      Aşağıdaki kutucuğa tıkla. Bilgilerini gir ve onlarca tema arasından birini seç.<br/>
      Herşey bu kadar kolay. Bize de bi çay ısmarlarsın artık!
    </p>
    <br />
    <p><a class="btn btn-primary btn-lg" href="{% url 'manage-cv' %}">Formu doldur</a></p>
  </div>
</div>
{% endblock %}
