{% load crispy_forms_tags %}
<div class="{{title}}">
{{ formset.management_form|crispy }}
{% for form in formset.forms %}
    <div class="row form-row">
    <table>
        {% for field in form.visible_fields %}
        <tr class="{{ form.prefix }}">
            <td>
                {% if forloop.first %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                {% endif %}
                {{ field.errors.as_ul }}
                {{ field|as_crispy_field }}
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="{{form.prefix}}">
        <button class="btn btn-success add-new-form">Yeni Ekle</button>
    </div>
    {% endfor %}
    </div>
</div>
