{% extends 'cvs/home.html' %}
{% load static %}


{% block title %}
<div class="jumbotron">
    <h1>Bütün bilgilerinizi burada görebilirsiniz.</h1>
</div>
{% endblock title %}

{% block content %}
{% for profile in prof_with_all_fields%}
<div class="row names">
    <h1>Profil Deneyimler Eğitim Yetenekler Projeler Ödül-Sertifika</h1>
</div>

<div class="profile row">
    <div class="prof-img col-2 mb-0">
        <img src="{{profile.profile_pic.url}}" alt="profil_fotoğrafı" width="100" height="100"></img>
    </div>
    <div class="prof-info col-4">
        <p>{{user.first_name}} {{user.last_name}}</p>
        <p>{{user.email}}</p>
        <p>{{profile.address}}</p>
        <p>{{profile.phone_num}}</p>
        <p>{{profile.links}}</p>
    </div>
    <div class="prof-exp col-4">
        <p>{{profile.bullet_descript}}</p></div>
        <p>{{profile.descript}}</p></div>
    </div>
    <div class="prof-setting col-2">
        <p><a class="btn btn-outline-dark" href="{% url 'accounts:edit-user' user.id %}">Profilini düzenle</a></p>
    </div>
</div>

    {% for experience in profile.prefetched_exps %}
<div class="experiences row">
    <div class="exp-info col-6">
        <p>{{experience.name}}</p>
        <p>{{experience.role}}</p>
        <p>{{experience.address}}</p>
        <p>{{experience.start_date}}</p>
        <p>{{experience.end_date}}</p>
    </div>
    <div class="exp-desc col-6">
        <p>{{experience.descript}}</p>
    </div>
</div>
    {% endfor %}

    {% for education in profile.prefetched_educs %}
<div class="educations row">
    <div class="educ-info col-6">
        <h4>Okul adı: </h4><p>{{education.name}}</p>
        <h4>Bölüm: </h4><p>{{education.role}}</p>
        <h4>Şehir: </h4><p>{{education.address}}</p>
        <h4>Başlangıç: </h4><p>{{education.start_date}}</p>
        <h4></h4><p>{{education.end_date}}</p>
    </div>
    <div class="educ-desc col-6">        
        <h4>Açıklama: </h4><p>{{education.descript}}</p>
    </div>
</div>
    {% endfor %}

<div class="technologies row">
    {% for tech in profile.prefetched_techs %}
    <div class="tech col">
        <p>{{tech.name}}</p>
        <p>{{tech.star}}</p>
    </div>
    {% endfor %}
</div>

<div class="languages row">
    {% for lang in profile.prefetched_langs %}
    <div class="lang col">
        <p>{{lang.name}}</p>
        <p>{{lang.star}}</p>
    </div>
    {% endfor %}
</div>

<div class="skills row">
    {% for skill in profile.prefetched_skills %}
    <div class="skill col">
        <p>{{skill.name}}</p>
        <p>{{skill.star}}</p>
    </div>
    {% endfor %}
</div>


    {% for project in profile.prefetched_projects %}
<div class="projects row">
    <div class="project-info col-3">
        <p>{{project.name}}</p>
        <p>{{project.role}}</p>
    </div>
    <div class="project-desc col-6">
        <p>{{project.descript}}</p>
    </div>
    {% endfor %}
</div>
    
<div class="awards row">
    {% for award in profile.prefetched_awards %}
    <div class="award col">
        <p>{{award.name}}</p>
        <p>{{award.date}}</p>
    </div>
    {% endfor %}
</div>

<div class="publications row">
    {% for public in profile.prefetched_publics%}
    <div class="public col">
        <p>{{public.name}}</p>
        <p>{{public.date}}</p>
    </div>
    {% endfor %}
</div>

{% endfor %}    
{% endblock %}
